@font-face
{
    font-family: "Jokerman";
    src: url("/Font/Jokerman.woff");
}
a
{
    color: #B0E2FF;
    font-family: "Jokerman";
    text-decoration: none;
}
body
{
	background-color: #4F4F4F;
    background-image: url("/bg.jpg");
}
h1,h2,h3,h4,h5,h6,li,p
{
    color: #B5E853;
    font-family: "Jokerman";
}
var
{
    color: #B5E853;
    font-family: "Jokerman";
    font-size: 10px;
}
#bar
{
    height: 700px;
    outline-color: #B0E2FF;
    outline-style: dotted;
}
#goback
{
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
}
#mainframe
{
	background-color: #4F4F4F;
    color: #B5E853;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
}
#menu
{
    height: 100%;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 10px;
}
#num1, #num2, #num3
{
	font-size: 120px;
	font-weight: 900;
}
#text
{
    padding: 10px;
    width: 80%;
}
.sheet
{
	border-color: #B5E853;
	border-style: solid;
	border-width: 3px;
}
.sheet th,.sheet td
{
	border-color: #B5E853;
	border-style: solid;
	border-width: 1px;
    color: #B5E853;
    font-family: "Jokerman";
}
