@font-face
{
	font-family: "KeyFont";
	src: url("/add-on/music/KeyFont.woff");
}
div.music
{
	background-color: var(--text-color);
	border-radius: 2rem;
	display: inline-block;
	padding: 0.25rem;
	text-align: center;
}
div.music b
{
	border-color: var(--back-color);
	border-width: medium;
	border-style: solid;
	border-radius: 1rem;
	color: var(--back-color);
	cursor: pointer;
	display: inline-block;
	font-family: "KeyFont";
	height: 1.2rem;
	vertical-align: middle;
	width: 1.2rem;
}
div.music span.time
{
	color: var(--back-color);
	font-size: small;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	vertical-align: middle;
}
div.music span.range
{
	background-color: var(--link-color);
	display: inline-block;
	height: 0.5rem;
	margin: 0.5rem;
	vertical-align: middle;
	width: 5rem;
}
div.music span.range>span
{
	background-color: var(--back-color);
	display: block;
	height: 100%;
	transition-duration: 0.05s;
	transition-property: width;
	transition-timing-function: linear;
	width: 100%;
}
