@font-face
{
	font-family: "Source Code Pro";
	src: local("Source Code Pro"), url("/add-on/highlight/SourceCodePro-Regular.otf.woff2");
}
code
{
	background-color: var(--back-color);
	border-color: var(--text-color);
	border-style: solid;
	border-width: thin;
	border-radius: 0.25rem;
	color: var(--code-color);
	display: block;
	font-family: "Source Code Pro", monospace;
	font-size: smaller;
	margin: auto;
	overflow-x: auto;
	padding: 0.5rem;
	tab-size: 4;
	white-space: pre;
	width: 90%;
}
code span.comma
{
	color: var(--comma-color);
}
code span.comment
{
	color: var(--comment-color);
	font-style: italic;
}
code span.constant
{
	color: var(--constant-color);
}
code span.function
{
	color: var(--function-color);
}
code span.keyword
{
	color: var(--keyword-color);
	font-weight: bold;
}
code span.variable
{
	color: var(--variable-color);
	font-weight: bold;
}
