a
{
    color: #F19C27;
    text-decoration: none;
}
article
{
	background-color: #884A31;
	border-radius: 5px;
	margin: auto;
	min-height: 100%;
    padding: 10px;
	padding-top: 50px;
	width: 90%;
}
body
{
	background-color: #884A31;
    background-image: url("/infos/bg.jpg");
    color: #FFF6D9;
	font-family: serif;
    padding: 10px;
}
footer,time
{
	display: block;
    font-size: 10px;
	font-style: italic;
	text-align: center;
}
h1,h2,h3,h4,h5,h6
{
	color: #FFF6D9;
    font-family: sans-serif;
	font-weight: bold;
}
header
{
	background-color: #884A31;
	border-bottom-color: #F19C27;
	border-bottom-width: thick;
	border-bottom-style: solid;
    font-family: sans-serif;
	font-size: 50px;
	font-weight: bold;
	height: auto;
	left: 0px;
	padding: 10px;
	position: fixed;
	text-align: center;
	top: 0px;
	width: 100%;
}
hr
{
	background-color: #F19C27;
	border-color: #F19C27;
}
nav
{
	background-color: #884A31;
	border-right-color: #F19C27;
	border-right-style: solid;
	border-right-width: thick;
	display: none;
    height: 100%;
	left: 0px;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 10px;
	position: fixed;
	top: 0px;
	width: 20%;
}
section
{
	margin-left: 20px;
}
summary
{
	text-align: center;
}
table
{
	border-color: #FFF6D9;
	border-style: solid;
	border-width: 3px;
}
td,th
{
	border-color: #FFF6D9;
	border-style: solid;
	border-width: 1px;
}
#cityindex td
{
	width: 30px;
	word-break: break-all;
}
.capital
{
    color: #F19C27;
	font-weight: bold;
}
