@import url("/add-on/article/theme.css");
@import url("/add-on/article/icon.css");
@font-face
{
	font-family: "Century Gothic";
	src: local("Century Gothic"), url("/add-on/article/CenturyGothic.woff");
}
@font-face
{
	font-family: "Century Schoolbook";
	font-style: italic;
	src: local("Century Schoolbook Italic"), local("Century Italic"), url("/add-on/article/CenturyItalic.woff");
}
@font-face
{
	font-family: "Century Schoolbook";
	src: local("Century Schoolbook"), local("Century"), url("/add-on/article/CenturySchoolbook.woff");
}
a
{
	color: var(--link-color);
	text-decoration: none;
}
abbr
{
	text-decoration: underline;
}
abbr:hover
{
	text-decoration: none;
}
blockquote p::first-letter
{
	font-size: xx-large;
}
blockquote cite
{
	display: block;
	text-align: end;
}
body
{
	background-color: var(--back-color);
	background-image: var(--back-image);
	color: var(--text-color);
	font-family: "Century Schoolbook", serif;
	margin: 0;
	text-align: justify;
}
caption
{
	font-weight: bold;
}
figure
{
	background-color: var(--link-color);
	color: var(--back-color);
	display: inline-block;
	margin: 1rem;
	padding: 0.25rem;
	text-align: initial;
}
figure img
{
	border-color: var(--back-color);
	border-style: solid;
	border-width: thin;
}
footer
{
	background-color: var(--text-color);
	color: var(--back-color);
	font-size: smaller;
	padding: 0.1rem 5%;
}
h1
{
	text-align: center;
}
h1 + p
{
	font-style: italic;
	font-size: x-small;
	text-align: center;
}
h1, h2, h3, h4, h5, h6
{
	color: var(--text-color);
	font-family: "Century Gothic", sans-serif;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}
header
{
	align-items: center;
	background-color: var(--link-color);
	color: var(--back-color);
	display: flex;
	flex-wrap: wrap;
	font-family: "Century Gothic", sans-serif;
	justify-content: space-between;
}
header a
{
	--link-color: var(--text-color);
}
header > aside
{
	box-sizing: border-box;
	flex-grow: 1;
	width: 12rem;
}
header > aside > ul
{
	margin: 0;
}
header > span
{
	box-sizing: border-box;
	font-size: x-large;
	min-width: min-content;
	padding-inline-start: 1rem;
	width: calc(100% - 12rem);
}
hr
{
	background-color: var(--link-color);
	border-color: var(--link-color);
}
img
{
	display: block;
	width: 100%;
}
main
{
	background-color: var(--back-color);
	margin: 0 5%;
	min-height: 100%;
	padding: 0.5rem;
}
section > h3
{
	padding-inline-start: 1em;
}
section > h4
{
	padding-inline-start: 2em;
}
summary
{
	font-family: "Century Gothic", sans-serif;
	font-weight: bold;
	text-align: center;
}
table
{
	border-color: var(--text-color);
	border-style: solid;
	border-width: medium;
	margin-bottom: 0.1rem;
	margin-top: 0.1rem;
}
td, th
{
	border-color: var(--text-color);
	border-style: solid;
	border-width: thin;
}
ul.buttonList
{
	margin: 0.1rem;
	padding: 0;
}
ul.buttonList > a > li
{
	border-color: var(--link-color);
	border-radius: 1rem;
	border-style: solid;
	border-width: thin;
	display: inline-block;
	margin: 0.25rem;
	padding: 0.25rem;
	text-align: center;
	transition-duration: 0.5s;
	transition-property: background-color, color;
	transition-timing-function: ease;
}
ul.buttonList > a:focus
{
	outline: none;
}
ul.buttonList > a:focus > li, .buttonList > a:hover > li
{
	background-color: var(--link-color);
	color: var(--back-color);
}
*:not(td) > time
{
	font-style: italic;
	font-size: x-small;
	text-align: center;
}
*.flexWrapper
{
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
