body code
{
	--function-color: var(--code-color);
	--keyword-color: var(--code-color);
	--variable-color: var(--code-color);
}
body.BrickWall
{
	--back-color: #600007;
	--back-image: url("/add-on/article/bg/BrickWall.svg");
	--text-color: #FFFFFF;
	--link-color: #FFFF00;
}
body.BrickWall code
{
	--code-color: #DADD98;
	--comma-color: #FA8072;
	--comment-color: #960018;
	--constant-color: #15F4EE;
}
body.FoxTale
{
	--back-color: #884A31;
	--back-image: url("/add-on/article/bg/FoxTale.png");
	--text-color: #FFF6D9;
	--link-color: #F19C27;
}
body.FoxTale code
{
	--code-color: #FFE0EF;
	--comma-color: #FFCC00;
	--comment-color: #B87333;
	--constant-color: #DC143C;
}
body.MatrixFlow
{
	--back-color: #000000;
	--back-image: url("/add-on/article/bg/MatrixFlow.png");
	--text-color: #00FF00;
	--link-color: #FF0000;
}
body.MatrixFlow code
{
	--code-color: #BFBFBF;
	--comma-color: #007F00;
	--comment-color: #3F3F3F;
	--constant-color: #7F7FFF;
}
body.OhParis
{
	--back-color: #F0F8FF;
	--back-image: url("/add-on/article/bg/OhParis.png");
	--text-color: #5F9EA0;
	--link-color: #4F2F6A;
}
body.OhParis code
{
	--code-color: #191970;
	--comma-color: #76D7EA;
	--comment-color: #B0C4DE;
	--constant-color: #FFB366;
}
body.StarryNight
{
	--back-color: #252321;
	--back-image: url("/add-on/article/bg/StarryNight.png");
	--text-color: #E1BD29;
	--link-color: #D2E9AF;
}
body.StarryNight code
{
	--code-color: #7CB9E8;
	--comma-color: #B284BE;
	--comment-color: #333353;
	--constant-color: #FFBF00;
}
body.Strawberry
{
	--back-color: #5E0010;
	--back-image: url("/add-on/article/bg/Strawberry.png");
	--text-color: #FFCCCB;
	--link-color: #A3CE52;
}
body.Strawberry code
{
	--code-color: #FFFFFF;
	--comma-color: #FED9BF;
	--comment-color: #930013;
	--constant-color: #AEF22F;
}
body.Vector
{
	--back-color: #4F4F4F;
	--back-image: url("/add-on/article/bg/Vector.svg");
	--text-color: #B5E853;
	--link-color: #B0E2FF;
}
body.Vector code
{
	--code-color: #ACE1AF;
	--comma-color: #859900;
	--comment-color: #93A1A1;
	--constant-color: #DC322F;
}
