@font-face
{
	font-family: "STIX";
	src: local("STIX Two Math"), url("/add-on/math/STIX2Math.woff2");
}
@font-face
{
	font-family: "STIX";
	font-style: italic;
	font-weight: bold;
	src: local("STIX Two Text Bold Italic"), url("/add-on/math/STIX2Text-BoldItalic.woff2");
}
data
{
	display: inline-block;
	font-family: "STIX", serif;
	line-height: 100%;
}
data span
{
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
}
data span.b
{
	vertical-align: sub;
}
data span.b, data span.f, data span.i, data span.m, data span.p
{
	font-size: smaller;
}
data span.b, data span.i, data span.p, data span.t
{
	text-align: start;
}
data span.c, data span.f, data span.m, data span.o, data, span.v
{
	text-align: center;
}
data span.c, data span.o
{
	font-style: normal;
	font-weight: normal;
}
data span.f span.l:empty, data span.t
{
	border-top-color: var(--text-color);
	border-top-style: solid;
	border-top-width: thin;
}
data span.l:empty
{
	display: block;
	height: 0;
}
data span.o
{
	font-size: larger;
	margin: 0 0.05em;
}
data span.p
{
	vertical-align: super;
}
data span.t
{
	line-height: 1.5;
}
data span.v
{
	font-style: italic;
	font-weight: bold;
}
