@font-face
{
	font-family: "STIX";
	src: url("/add-on/math/STIX.woff");
}
math, var
{
	display: inline;
	font-family: "STIX", serif;
	font-style: normal;
	line-height: 100%;
}
math mb
{
	display: inline-block;
	font-size: smaller;
	vertical-align: sub;
}
math mc, math mo, math mv, var .var
{
	display: inline-block;
	padding-left: 0.05rem;
	padding-right: 0.05rem;
}
math mf, var .div
{
	display: inline-block;
	font-size: smaller;
	text-align: center;
	vertical-align: middle;
	width: auto;
}
math mf ml:empty, var .div span:empty
{
	border-top-color: var(--text-color);
	border-top-style: solid;
	border-top-width: thin;
}
math mi, var .updown
{
	display: inline-block;
	font-size: smaller;
	text-align: start;
	vertical-align: middle;
	width: auto;
}
math ml:empty, var span:empty
{
	display: block;
	height: 0;
}
math mp
{
	display: inline-block;
	font-size: smaller;
	vertical-align: super;
}
math mt, var .sqrt
{
	border-top-color: var(--text-color);
	border-top-style: solid;
	border-top-width: thin;
	display: inline;
}
