@font-face
{
	font-family: "STIX";
	src: local("STIX Two Math"), url("/add-on/math/STIX2Math.woff2");
}
@font-face
{
	font-family: "STIX";
	font-style: italic;
	font-weight: bold;
	src: local("STIX Two Text Bold Italic"), url("/add-on/math/STIX2Text-BoldItalic.woff2");
}
data
{
	display: inline;
	font-family: "STIX", serif;
	line-height: 100%;
}
data span.b
{
	text-align: start;
	vertical-align: sub;
}
data span.b, data span.f, data span.i, data span.m, data span.p
{
	display: inline-block;
	font-size: smaller;
}
data span.c, data span.o
{
	font-style: normal;
	font-weight: normal;
}
data span.c, data span.o, span.v
{
	display: inline-block;
	margin-left: 0.08rem;
	margin-right: 0.08rem;
}
data span.f, data span.m
{
	text-align: center;
	vertical-align: middle;
}
data span.f span.l:empty
{
	border-top-color: var(--text-color);
	border-top-style: solid;
	border-top-width: thin;
}
data span.i
{
	text-align: start;
	vertical-align: middle;
}
data span.l:empty
{
	display: block;
	height: 0;
}
data span.o
{
	font-size: larger;
}
data span.p
{
	text-align: start;
	vertical-align: super;
}
data span.t
{
	border-top-color: var(--text-color);
	border-top-style: solid;
	border-top-width: thin;
	display: inline;
	padding-top: 0.1rem;
}
data span.v
{
	font-style: italic;
	font-weight: bold;
}
