:root
{
	--back-color: #252321;
	--back-image: url("/theme/4night.jpg");
	--text-color: #E1BD29;
	--link-color: #D2E9AF;
}
code
{
	--code-color: #F4C2C2;
	--comma-color: #FFE165;
	--comment-color: #64403F;
	--constant-color: #A5D610;
	--function-color: var(--code-color);
	--keyword-color: var(--code-color);
	--variable-color: var(--code-color);
}
