:root
{
	--back-color: #000000;
	--back-image: url("/theme/matrix.jpg");
	--text-color: #00FF00;
	--link-color: #FF0000;
}
code
{
	--code-color: #BFBFBF;
	--comma-color: #007F00;
	--comment-color: #3F3F3F;
	--constant-color: #7F7FFF;
	--function-color: var(--code-color);
	--keyword-color: var(--code-color);
	--variable-color: var(--code-color);
}
