:root
{
	--back-color: #F0F8FF;
	--back-image: url("/theme/OParis.jpg");
	--text-color: #5F9EA0;
	--link-color: #4F2F6A;
}
code
{
	--code-color: #191970;
	--comma-color: #76D7EA;
	--comment-color: #B0C4DE;
	--constant-color: #FFB366;
	--function-color: var(--code-color);
	--keyword-color: var(--code-color);
	--variable-color: var(--code-color);
}
