@font-face
{
	font-family: "Segoe Print";
	src: url("http://blog.zsz12251665.cf/Font/Segoe Print.woff");
}
a
{
	color: #FFFF00;
	font-family: "Segoe Print";
	text-decoration: none;
}
body
{
	background-color: #600007;
	background-image: url("http://blog.zsz12251665.cf/posts/bg.jpg");
}
h1,h2,h3,h4,h5,h6,li,p
{
	color: #FFFFFF;
	font-family: "Segoe Print";
}
iframe
{
	height: 100%;
	width: 100%;
}
var
{
	color: #FFFFFF;
	font-family: "Segoe Print";
	font-size: 10px;
}
#body
{
	background-image: url("");
}
#mainframe
{
	background-color: #600007;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 80%;
}
#menu
{
	height: 700px;
	outline-color: #FFFF00;
	outline-style: dotted;
	padding-right: 10px;
}
#music
{
	background-color: #FFFFFF;
}
#music p
{
	color: #600007;
	font-family: "Segoe Print";
	font-size: 20px;
	width: 150px;
}
#text
{
	padding: 10px;
	width: 80%;
}
