@font-face
{
	font-family: "Cambria";
	src: url("http://font.zsz12251665.cf/English/Microsoft/Cambria.woff");
}
@font-face
{
	font-family: "Courier New";
	src: url("http://font.zsz12251665.cf/English/Monotype/Courier New.woff");
}
a
{
	color: #FF0000;
	font-family: "Cambria";
	text-decoration: none;
}
body
{
	background-image: url("http://blog.zsz12251665.cf/codes/bg.jpg");
}
h1,h2,h3,h4,h5,h6,li,p
{
	color: #00FF00;
	font-family: "Cambria";
}
iframe
{
	height: 100%;
	width: 100%;
}
var
{
	color: #00FF00;
	font-family: "Cambria";
	font-size: 10px;
}
#mainframe
{
	background-color: #000000;
	color: #00FF00;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 80%;
}
#menu
{
	height: 700px;
	outline-color: #FF0000;
	outline-style: dotted;
	padding-right: 10px;
}
#text
{
	padding: 10px;
	width: 80%;
}
#text a,#text p
{
	margin-left: 20px;
}
.codebox
{
	background-color: #00FF00;
	color: #000000;
	font-family: "Courier New";
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: left;
	width: 80%;
	word-break: break-all;
}
.codebox strong
{
	background-color: #00FF00;
	color: #FF0000;
	font-family: "Courier New";
}
.sheet
{
	margin: auto;
}
.sheet th,.sheet td
{
	color: #00FF00;
	font-family: "Cambria";
}
