a
{
	color: #FF0000;
	text-decoration: none;
}
article
{
	background-color: #000000;
	border-radius: 5px;
	margin: auto;
	min-height: 100%;
	padding: 10px;
	padding-top: 50px;
	width: 90%;
}
article a
{
	display: inline-block;
}
body
{
	background-color: #000000;
	background-image: url("/codes/bg.jpg");
	color: #00FF00;
	font-family: serif;
	padding: 10px;
}
code
{
	background-color: #00FF00;
	color: #000000;
	display: block;
	font-family: monospace;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: left;
	width: 85%;
	word-break: break-all;
}
code strong
{
	color: #FF0000;
	font-style: italic;
	word-break: normal;
}
footer,time
{
	display: block;
	font-size: 10px;
	font-style: italic;
	text-align: center;
}
h1,h2,h3,h4,h5,h6
{
	color: #00FF00;
	font-family: sans-serif;
}
header
{
	background-color: #000000;
	border-bottom-color: #FF0000;
	border-bottom-width: thick;
	border-bottom-style: solid;
	font-family: sans-serif;
	font-size: 50px;
	font-weight: bold;
	height: auto;
	left: 0px;
	padding: 10px;
	position: fixed;
	text-align: center;
	top: 0px;
	width: 100%;
}
hr
{
	background-color: #FF0000;
	border-color: #FF0000;
}
nav
{
	background-color: #000000;
	border-right-color: #FF0000;
	border-right-style: solid;
	border-right-width: thick;
	display: none;
	height: 100%;
	left: 0px;
	overflow-y: auto;
	padding-left: 5px;
	padding-right: 10px;
	position: fixed;
	top: 0px;
	width: 20%;
}
section
{
	margin-left: 20px;
}
table
{
	border-color: #00FF00;
	border-style: solid;
	border-width: 3px;
}
td,th
{
	border-color: #00FF00;
	border-style: solid;
	border-width: 1px;
}
var
{
	font-style: italic;
	font-weight: bold;
	margin-left: 1px;
	margin-right: 1px;
}
