@font-face
{
	font-family: "Cambria";
	src: url("/Font/Cambria.woff");
}
@font-face
{
	font-family: "Source Code Pro";
	src: url("/Font/Source Code Pro.woff");
}
a
{
	color: #FF0000;
	font-family: "Cambria";
	text-decoration: none;
}
address,time
{
	color: #00FF00;
	display: block;
	font-family: "Cambria";
	font-size: 10px;
	font-style: italic;
	text-align: center;
}
body
{
	background-color: #000000;
	background-image: url("/codes/bg.jpg");
}
code
{
	background-color: #00FF00;
	color: #000000;
	display: block;
	font-family: "Source Code Pro";
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: left;
	width: 85%;
	word-break: break-all;
}
code strong
{
	color: #FF0000;
	font-family: "Source Code Pro";
	word-break: normal;
}
h1,h2,h3,h4,h5,h6,li,p
{
	color: #00FF00;
	font-family: "Cambria";
}
hr
{
	background-color: #FF0000;
	border-color: #FF0000;
}
section
{
	margin-left: 20px;
}
#bar
{
    height: 700px;
    outline-color: #FF0000;
    outline-style: dotted;
}
#mainframe
{
	background-color: #000000;
	color: #00FF00;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 80%;
}
#menu
{
    height: 100%;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 10px;
}
#text
{
	padding: 10px;
	width: 80%;
}
#text a
{
	display: inline-block;
}
.sheet
{
	border-color: #00FF00;
	border-style: solid;
	border-width: 3px;
}
.sheet th,.sheet td
{
	border-color: #00FF00;
	border-style: solid;
	border-width: 1px;
	color: #00FF00;
	font-family: "Cambria";
}
