:root
{
	--back-color: #884A31;
	--back-image: url("theme/mytale.jpg");
	--text-color: #FFF6D9;
	--link-color: #F19C27;
}
code
{
	--code-color: #FFE0EF;
	--comma-color: #FFCC00;
	--comment-color: #B87333;
	--constant-color: #DC143C;
	--function-color: var(--code-color);
	--keyword-color: var(--code-color);
	--variable-color: var(--code-color);
}
