:root
{
	--back-color: #4F4F4F;
	--back-image: url("theme/vector.jpg");
	--text-color: #B5E853;
	--link-color: #B0E2FF;
}
code
{
	--code-color: #ACE1AF;
	--comma-color: #859900;
	--comment-color: #93A1A1;
	--constant-color: #DC322F;
	--function-color: var(--code-color);
	--keyword-color: var(--code-color);
	--variable-color: var(--code-color);
}
